

/* basic elements */
html {
	margin: 0;
	padding: 0;
	}

p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}





body {
	background: url('/images/rolls.JPG') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;

	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 
	margin: 0; 
	padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}
 
ul.menu {
    height: 70px;
    border-left: 1px solid rgba(0,0,0,0.3);
    border-right: 1px solid rgba(255,255,255,0.3);
    float:left;
}
 
ul.menu li {
    list-style: none;
    float:left;
    height: 70px;
    width:130px;
    text-align: center;
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(148,121,93,1)), to(rgba(49,28,39, 1)) );
    background: -moz-radial-gradient(center 80px 45deg, circle cover, rgba(148,121,93,1) 0%, rgba(49,28,39, 1) 100%);
    }
 
ul li a {
    display: block;
    padding: 0 20px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    line-height: 70px;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    -webkit-transition-property: background;
    -webkit-transition-duration: 700ms;
    -moz-transition-property: background;
    -moz-transition-duration: 700ms;
    text-decoration:none;
    color:#363636;
    text-transform:uppercase;
    font-size:15px;
    font-weight:bold;
    }
 
ul li a:hover {
    background: transparent none;
}
 
ul li.active a{
    background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(rgba(31,169,244,1)), to(rgba(0,28,78, 1)) );
    background: -moz-radial-gradient(center 70px 45deg, circle cover, rgba(31,169,244,1) 0%, rgba(0,28,78, 1) 100%);
}

.wrapper {
    width: 783px;
    height: 71px;
    background : #464646;
    background : -webkit-gradient(linear, left top, left bottom, from(rgb(168,168,168)), to(rgb(69,69,69)));
    background : -moz-linear-gradient(top, rgb(168,168,168), rgb(69,69,69));
    border-top: 2px solid #939393;
    position: relative;
    margin:0 auto 0 auto;
}

.backwrapper {
	width:783px;
	background:rgba(168,168,168,0.8);
	min-height: 900px;
	height: auto !important;
	height: 1000px;
	margin: 0 auto 0 auto;
}

.container {
	width:783px;
	margin:0 auto 0 auto;
}

.copyright {
	position: absolute;
	bottom: 0;
	right: 3px;
	height: auto;
	text-align: center;
	color:#363636;
}

#header {
	width:783; height:317; text-align:center;
	margin:0 auto 0 auto;

}

#main_page {
	width:80%;
	margin: 50px auto;
}
